@media only screen and (max-width: 700px) {
    .load  {
    
     width: 100% !important;
     font-size: 10px  !important;
    }
    .benLoad {
      border: 2px dashed #ccc !important;
      padding: 20px !important;
      min-height: 110px !important;
      width: 30% !important;
      text-align: center !important;
      cursor: pointer !important;
      color: black !important;
    }    
  }
  .dzu-dropzone {
    border: 2px dashed #330404 !important;
    overflow: hidden !important;
    border-radius: 10px;
    min-height: 170px !important;
    background: linear-gradient(to right, #E79A3F, #C8B575);
    max-width: 35vw !important;
    min-width: 40vw;
  }
  .dzu-inputLabel{
    color: black !important;
  }
  .dzu-previewFileName {
    color: black !important;

  }

  .dzu-previewButton{
    color: white !important;
    background-color:  #C8B575;
    border-radius: 5px;
    padding: 2px;
  }
  .dzu-submitButton{
    background:linear-gradient(to right, #110f25,#2A3055 );
  }
  @media only screen and (max-device-width: 480px) {
    .dzu-dropzone{
      max-width: 90vw !important;
    }
  }