@media only screen and (max-width: 700px) {
    .load  {
    
     width: 100% !important;
     font-size: 10px  !important;
    }
    .benLoad {
      border: 2px dashed #ccc !important;
      padding: 20px !important;
      min-height: 110px !important;
      width: 30% !important;
      text-align: center !important;
      cursor: pointer !important;
      color: white !important;
    }    
  }
  .dzu-dropzone {
    border: 2px dashed #330404 !important;
    overflow: hidden !important;
    border-radius: 10px;
    min-height: 170px !important;
    background: linear-gradient(to right, #88775d, #212223);
    max-width: 35vw !important;
    min-width: 40vw;
  }
  .dzu-inputLabel{
    color: white !important;
  }
  .dzu-previewFileName {
    color: white !important;

  }


  .dzu-previewButton{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFxrzPQ6YNa3rS75Wv9uQmyQOx5HAOwmLUmg&s") !important;
    color: white !important;
    /* background-color: white; */
    border-radius: 3px;
    padding: 3px !important;
  }
  .dzu-submitButton{
    background:linear-gradient(to right, #bc9d6e,#bc9d6e);
  }
  @media only screen and (max-device-width: 480px) {
    .dzu-dropzone{
      max-width: 90vw !important;
    }
  }