:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #f9f9f9 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #BC9D6E;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
  /* background-image: linear-gradient(to right, #110f25,#2A3055 ); */
  background: #f9f9f9 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #141ba3;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-image: linear-gradient(to right, #9747FF, #684DFF); */
     /* background-image: linear-gradient(to right, #E79A3F,#C8B575 ); */
     /* background-image: linear-gradient(to right, #110f25,#2A3055 ); */
     background: #f9f9f9 !important;
     /* background: rgb(64,60,103); */
     /* background: rgb(167,165,185); */
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

.animate-character {
  background-image: linear-gradient(-225deg, #a87b4c 20%, #212223 100%);

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textClip 4s linear infinite;
}

.animate-character1 {
  background-image: linear-gradient(-225deg, #724d24 20%, #f7fbff 100%);

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textClip 4s linear infinite;
}

@keyframes textClip {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% center;
  }
}
